################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WorkAndTime/.vs
/WorkAndTime/obj
*.sln